<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
  
      <class name="BuyDirect.BuyDirectTests.WelcomeBackScreenTest"/>
      <class name="BuyDirect.BuyDirectTests.LoginScreenTest"/>
      <class name="BuyDirect.BuyDirectTests.WelcomePageTest"/>
      <class name="BuyDirect.BuyDirectTests.EnrollScreenTest"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
